body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  /* use dvh for mobile browsers like Safari */
  background-color: #000;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  touch-action: none;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}